*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 425px;
    background-color: aqua;
}

.wrapperhero{
    background-image: url(https://cdn.pixabay.com/photo/2021/08/12/10/38/mountains-6540497_1280.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.back, .nav-hide {
    background-color: gainsboro;
    padding: 3px;
    border-radius: 6px;
    width: 40px;
    text-align: center;
}

.img{
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
}

.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name {
}
.nav-hide {
}
